`{% extends "base.html" %}

{% block content %}
    <div class="my-3 mt-5 about-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="text-container">
            <h3 class="heading text-center">About Our School</h3>
            <p class="paragraph">
                **Our School's Journey**

                Established in 1900 by Mr. Ogolla, Fadhili Group of Schools has been a beacon of education in our
                community. From humble beginnings, we have grown into a thriving institution, nurturing young minds to
                reach their full potential. With a focus on academic excellence and character development, our school
                continues to inspire generations of learners. Join us on this exciting journey of learning and
                discovery!
            </p>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">

        <div class="text-container">
            <h3 class="heading text-center"> Our School Vision</h3>
            <p class="paragraph">
                To be a premier institution of academic excellence.


            </p>
            <h3 class="heading text-center">Our Mission
            </h3>

            <p class="paragraph font-weight: bold">
                At Fadhili Group of Schools, our mission is to provide a nurturing and inclusive learning environment
                that fosters academic excellence, character development, and lifelong learning. We are committed to
                empowering our students with the knowledge, skills, and values they need to become responsible global
                citizens and leaders of tomorrow.
            </p>
        </div>
    </div>

    <div class="my-3 mt-5 about-container">

        <div class="text-container">
            <h3 class="heading text-center"> Core Values
            </h3>


            Our core values at Fadhili Foundation encompass fostering a culture of life-long learning, upholding
            integrity and accountability in the pursuit of excellence, embracing innovativeness to ensure quality and
            productivity, demonstrating social responsibility through collaborative efforts to address global concerns,
            and promoting academic freedom by encouraging open exchange of ideas and knowledge.
        </div>
    </div>
    <div class="my-3 mt-5 about-container3">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/SKULU KIDSsafari.jpg') }}" class="d-block w-100"
                 alt="Slide 1">
        </div>
        <div class="text-container">
            <h3 class="heading text-center">School Trips</h3>
<!--            <p class="paragraph">-->
<!--                To create a school website with a database for registered and registering students, you will need to-->
<!--                consider several web requirements and document the product accordingly. Here's an outline of the key-->
<!--                aspects you should cover in your documentation:-->
<!--            </p>-->


        </div>
    </div>
    <div class="text-container">
    <h3 class="heading text-center"></h3>
    <p class="paragraph">

    </p></div>
{% endblock %}
