{% extends "base.html" %}

{% block content %}
    <div class="my-3 mt-5 about-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/micato-one-for-one-2.jpg') }}" class="d-block w-100"
                 alt="Slide 1">
        </div>
        <div class="text-container">
            <h3 class="heading text-center">Admission Process</h3>
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada consequat ligula, sit amet
                fringilla neque consequat id. Fusce pharetra malesuada diam, eu viverra risus eleifend nec. Nullam sit
                amet elit ipsum. Nulla maximus, felis id tincidunt bibendum, dolor velit ultrices lectus, vitae
                tristique neque mauris id nisi.
            </p>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">
        <div class="text-container">
            <h3 class="heading text-center">Application Form</h3>
            <p class="paragraph">
                Complete an Application Form for your child
            </p>
            <div class="button-container">
                <a href="{{ url_for('name') }}">
                    <button class="button">Request Admission to Fadhili Pipeline</button>
                </a>
                <a href="{{url_for('name')}}">
                    <button class="button">Request Admission to Fadhili Riara</button>
                </a>
            </div>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">
        <div class="text-container">
            <h3 class="heading text-center">Offer Letter</h3>
            <p class="paragraph">
                 Lorem ipsum dolor sit amet, consectetur id tincidunt bibendum, dolor velit ultrices lectus, vitae
                tristique neque mauris id nisi.
            </p>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">
        <div class="text-container">
            <h3 class="heading text-center">Registration and Caution Money</h3>
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur id tincidunt bibendum, dolor velit ultrices lectus, vitae
                tristique neque mauris id nisi.
            </p>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">
        <div class="text-container">
            <h3 class="heading text-center">Admission</h3>
            <p class="paragraph">
                Your child is admitted to Fadhili Foundation School.
            </p>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">
        <div class="text-container">
            <h3 class="heading text-center">Admission</h3>
            <p class="paragraph">
                Your child is admitted to Fadhili Foundation School.
            </p>
        </div>
    </div>
    <div class="my-3 mt-5 about-container">
        <div class="table-responsive table-container">
            <div class="row">
                <div class="col-md-3">
                    <strong>Payment</strong>
                </div>
                <div class="col-md-3">
                    <strong>Ksh</strong>
                </div>
                <div class="col-md-3">
                    <strong>Cts</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Admission Fee
                </div>
                <div class="col-md-3">
                    200
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Tuition Fee
                </div>
                <div class="col-md-3">
                    300
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Admission Fee
                </div>
                <div class="col-md-3">
                    200
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Tuition Fee
                </div>
                <div class="col-md-3">
                    300
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Admission Fee
                </div>
                <div class="col-md-3">
                    200
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Tuition Fee
                </div>
                <div class="col-md-3">
                    300
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Admission Fee
                </div>
                <div class="col-md-3">
                    200
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Tuition Fee
                </div>
                <div class="col-md-3">
                    300
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Admission Fee
                </div>
                <div class="col-md-3">
                    200
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    Tuition Fee
                </div>
                <div class="col-md-3">
                    300
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>

            <!-- Add more rows as needed -->

            <div class="row">
                <div class="col-md-9">
                    Total Cash
                </div>
                <div class="col-md-3">
                    0.00
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h6>Money Paid Is Not Refundable</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

