<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fadhili Foundation</title>
    <!-- Add this code inside the <head> section of your base.html -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!---->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb@5.3.0/dist/css/mdb.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>


<body>
<div class="preloader">
    <div class="spinner"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/mdb@5.3.0/dist/js/mdb.min.js"></script>

<style>
    .navbar {

        background-color: black !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 22px;
        font-weight: bold;
    }

    .container {
        color: lightblue;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar {
        position: sticky;
        top: 0;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-light mb-3 mt-1 height:60px">
    <div class="container-fluid">
        <!-- Navbar brand/logo and toggle button -->
        <a class="navbar-brand" href="{{ url_for('index') }}">Fadhili</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!---->
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Navbar links -->
                <!---->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('about') }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('admissions') }}">Admission</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('students') }}">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{{ url_for('parents_and_guardians') }}">Parents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('contact_us') }}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('how_to_help') }}">How To Help</a>
                </li>
                {% if current_user.username == marto %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('add_student') }}">Database</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('shop') }}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('add_products') }}">THE STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('extra_curriculum') }}">Activities</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('user',name='GATHURI') }}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('name') }}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}"></a>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </div>
    <!---->
</nav>
<!---->
<div class="container-fluid">
    <div class="row">
        <main class=""> <!-- Added mx-auto class -->
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>
<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get in Touch</span>
        </div>
        <!-- Left -->
        <!---->
        <!-- Right -->
        <div>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!---->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Fadhili Group of Schools
                    </h6>
                    <p>
                        FADHILI Schools: Excellence in Education! Embark on a Quest for Knowledge!.
                    </p>
                </div>
                <!-- Grid column -->
                <!---->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <!---->
                    <a href="#!" class="text-reset">Play-Group</a>
                    <p>
                        <a href="#!" class="text-reset">Pre-Primary</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"> Primary School from Grade One to Six,</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Junior High School</a>
                    </p>
                    {# <p>#}
                    {# <a href="#!" class="text-reset"></a>#}
                    {# </p>#}
                </div>
                <!-- Grid column -->
                <!---->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Fees Structure</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"></a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Co-curriculum Activities</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Admission</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!---->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> Nairobi, Kenya</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@fadhilifoundation.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + +254 706 136 673</p>
                    <p><i class="fas fa-print me-3 text-secondary"></i> + +254 706 136 673</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!---->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://fadhilifoundation.com/"> info@fadhilifoundation.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- Footer -->

<!-- Add Bootstrap JS and MDB JS scripts here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.2/js/mdb.min.js"></script>

<!-- Initialize tooltips -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
<script>
</script>
</html>




