{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ name }} {{ message }}
        <button role="button" tabindex="0" type="button" class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<h2>Dashboard</h2>
    <br>
    <br>
<h6>You are Logged in</h6>
    {% endblock %}
