-{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash">
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button role="button" tabindex="0" type="button" class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}

        </ul>
    {% endif %}
{% endwith %}

<!-- Admin Login Form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Login</h2>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
