{% extends "base.html" %}

{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ name }} {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% if name %}
<!--<h2>{{ name }}</h2>-->
 <div class="my-3 mt-5 about-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="text-container">
            <h3 class="heading text-center">About Our School</h3>
            <p class="paragraph">
                **Our School's Journey**

                Established in 1900 by Mr. Ogolla, Fadhili Group of Schools has been a beacon of education in our
                community. From humble beginnings, we have grown into a thriving institution, nurturing young minds to
                reach their full potential. With a focus on academic excellence and character development, our school
                continues to inspire generations of learners. Join us on this exciting journey of learning and
                discovery!
            </p>
        </div>
    </div>

{% else %}
<h2>Student and Parent Details</h2>
<br/>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}

    {{ form.parent_name.label(class="form-label") }}
    {{ form.parent_name(class="form-control") }}

     {{ form.phone_number.label(class="form-label") }}
    {{ form.phone_number(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}
</form>

{% endif %}
{% endblock %}
