

{% extends "base.html" %}

{% block content %}<center>
    <h1>Overall Best Students</h1></center>
    <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div id="carousel4" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item" >
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="carousel5" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel5"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel5"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="carousel6" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel6"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel6"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="carousel7" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel7"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel7"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div id="carousel8" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item" >
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel8"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel8"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="carousel9" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel9"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel9"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="carousel10" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel10"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel10"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="carousel11" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100"
                     alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel11"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel11"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div id="carousel12" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/MOCKUP.jpg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Overall Best Student</h3>
                    <p>An esteemed Student ,excellent and comprehensive in his education.</p>
                </div>
            </div>
            <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
            <div class="carousel-item" >
            <img src="{{ url_for('static', filename='images/skoolKids.jpeg') }}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fadhili Foundation</h5>
                    <p>An esteemed organization providing excellent and comprehensive education.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel12"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel12"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    </form>
{% endblock %}












